
.description
        .description__info
            .description__img
            .description__infor
                    .description__info-title Биохакинг мозга. Проверенный план максимальной прокачки вашего мозга за две недели
                    .desctiption__info-author Автор: 
                        span wdawddaw
                    .description__info-year Год: 
                        span 2020
                    .description__info-rating
                        .description__info-stars
                            ul.description__info-list
                                li.description__info-item
                                li.description__info-item
                                li.description__info-item
                                li.description__info-item
                                li.description__info-item
                        .description__info-number Рейтинг: 
                            span 2,5
                    .description__info-tools
                        .description__info-favorites В избранное
                        .description__info-share Поделиться
        .description__content
            .description__content-title Отрывок книги
            .description__content-text  В то время, как профессия UX дизайнера развивалась десятилетиями, недавно произошел взрыв. Якоб Нильсен отметил 1000-кратное увеличение числа специалистов с 1983 года — от примерно тысячи человек до более, чем миллиона. Основная часть этого роста пришлась на последнее десятилетие. Например, в 2014 году IBM объявила, что инвестировала 100 миллионов долларов в формирование рабочей силы UX. Исследование, проведенное Design Management Institute (DMI) в 2013 году показало, что компании, возглавляемые дизайнерами, превзошли S&P 500 на 211%. Наблюдается рост UX повсюду, а не только в бизнесе. Есть UX-команды, работающие в некоммерческих организациях, университетах, музеях и правительстве. В случае правительства сотни UX дизайнеров попали в федеральное правительство США через две группы: 18F и US Digital Service, где они работают над самыми разными проектами от дел ветеранов до национальной безопасности. Аналогичные группы можно найти в Канаде, Сингапуре, Великобритании и других странах.                 