.main
    .main__left
        .main__left-pic
        .main__left-title Библиотека
    .main__right
        .toolbar
            button.toolbar__favorites
                .toolbar__favorites-icon
            .toolbar__search
                input(type="text" placeholder="Поиск").toolbar__search-input
                button.toolbar__search-button
                    .toolbar__search-icon    